<h1>IPL Squad</h1>
<h1>BANGGGGGG!!!</h1>
<table>
        <tr>
            <th class="rcb">Royal Challengers Bangalore</th>
            <th class="csk">Chennai Super Kings</th>
            <th class="hyd">Sunrisers Hyderabad</th>
            <th class="kkr">Kolkata Knight Riders</th>
        </tr>
        <tr>
           <td><rcb class="rcb"></rcb></td>
           <td><csk class="csk"></csk></td>
           <td><hyd class="hyd"></hyd></td>
           <td><kkr class="kkr"></kkr></td>
        </tr>
</table>
