<div class="row">
  

  <div class="col-3">
    <h3 class="mb-2">Insert Project Details</h3>
    <new-employee [parentData]="tableData" (sendNewData)="receiveNewData($event)"></new-employee>
  </div>

  <div class="container col-9" id="container">
    <projects-navbar></projects-navbar>
    <table class="table table-striped">
      <thead></thead>
        <tbody>
          <tr *ngFor="let row of tableData" [id]="row.serialNumber">
            <td>{{row.serialNumber}}</td>
            <td [id]="'name'+row.serialNumber">{{row.projectName}}</td>
            <td>{{row.teamMembers}}</td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                  [style.width]="row.projectProgress+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{{row.projectProgress}}% Complete</p>
            </td>
            <td> <button type="button" class="btn btn-success">Success</button>
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="row.checked" [checked]="row.checked">
            </td>
  
          </tr>
        </tbody>
        
      
    </table>
    <employee-details [parentData]="tableData" (sendData)="receiveData($event)" class="d-flex justify-content-end">
    </employee-details>
  </div>
</div>