<!-- <div class="row">
    <div class="col-3">
        <new-employee></new-employee>
    </div>
    
    <div class="container col-9" id="container">
        <projects-navbar></projects-navbar>
        <table class="table table-striped">
            <thead>
                <table-header></table-header>
            </thead>
            <tbody>
                <table-body></table-body>
            </tbody>
        </table>
    </div>
</div> -->
<table-body></table-body>


<!-- <calculator-heading></calculator-heading>
<calculator-buttons></calculator-buttons> -->

